
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

a {
    text-decoration: none;
}

a.likeButton {
    position: fixed;
    padding: 6px 18px;
    color: #003F70;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

/* EL ESTILO DE LA ETIQUETA HEADER QUE PIDE LA HOMEWORK 11*/

header {
    width: 100%;
    height: 100px;
    text-align: center;
    color: #003F70;
}

nav {
    width: 100%; /*sh*/
    height: 40px; /*sh*/
    margin: 0; /*sh*/
    padding: 0; /*sh*/
    text-align: center; /*sh*/
    border: none; /*sh*/
    list-style-type: none; /*sh*/
    /* testing better way
    overflow: auto;
    width: auto;*/
}

nav.navMenu {
    background-color: #003F70;
}

nav.navSubMenu {
    background-color: #CCCCCC;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*list-style-type: none; removed by sh*/
    margin: 0;
    padding: 20px;
}

nav ul li {
    border: 1px solid #004b84;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0 12px;
    margin: 4px 12px;
    display: flex;
    align-items: center;
    /* shadow test
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

nav ul li a {
    text-align: center;
    padding: 8px 12px;
    color: #003F70;
}

table {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

/* Prácticas de la clase  */

section {
    padding: 50px 30px;
    margin-left: 40px;
    /* se aplicará a section */
}

section article {
    background-color: #CCCCCC;
    width: 500px;
    /* se aplicará a article, más las
    propiedades de section */
}

section article h2 {
    height: 4em;
    /* se aplicará a h2, más las
    propiedades de section y article */
}

